<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      
      <class name="com.ExitTestFlipkart.tests.FirstLoginThenOtherOperation"/>
      <class name="com.ExitTestFlipkart.tests.HomePageTests"/>
      <class name="com.ExitTestFlipkart.tests.loginTest"/>
      <class name="com.ExitTestFlipkart.tests.MoreOptionTest"/>
      <class name="com.ExitTestFlipkart.tests.ProductPageTests"/>
      <class name="com.ExitTestFlipkart.tests.travelTests"/>
      
      
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
